@model CategoryModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit Category</title>
    <link rel="stylesheet" href="~/css/edit-category-style.css">
</head>
<body>
    @{
        await Html.RenderPartialAsync("_NavigationBar");
    }
    <div class="container">
        <h2>Edit Category</h2>
        <form method="post" asp-controller="Category" asp-action="Edit" class="edit-category-form">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="@Model.name" />
            </div>
            <div class="form-group">
                <label asp-for="parent_category_id">Select Parent Category:</label>
                <select asp-for="parent_category_id" class="input">
                    <option value="">Select Parent Category</option>
                    @foreach (CategoryModel parentCategory in ViewBag.Categories)
                    {
                        <option value="@parentCategory.Id">@parentCategory.Id - @parentCategory.name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" />
            </div>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Errors))
        {
            <div class="alert alert-danger" role="alert">
                @Html.Raw(ViewBag.Errors)
            </div>
        }
    </div>
</body>
</html>
