@model ICollection<FilmModel>;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Films</title>
    <link rel="stylesheet" href="~/css/all-films-style.css">
</head>
<body>
    @{
        await Html.RenderPartialAsync("_NavigationBar");
    }
    <div class="container">
        <div class="btn-container">
            <button id="sortButton" onclick="toggleSort()">Sort by Release Date</button>
            <form asp-controller="Film" asp-action="All" method="get">
                <select name="director">
                    <option value="">Select Director</option>
                    @foreach (var director in ViewBag.Directors)
                    {
                        <option value="@director">@director</option>
                    }
                </select>
                <select name="category">
                    <option value="">Select Category</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.name</option>
                    }
                </select>
                <button type="submit">Apply Filter</button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Release Date</th>
                    <th>Categories</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var film in Model)
                {
                    <tr>
                        <td><a href="~/film/info/@film.Id">@film.name</a></td>
                        <td>@film.director</td>
                        <td>@film.release.ToShortDateString()</td>
                        <td>@string.Join(", ", film.Categories.Select(c => c.name))</td>
                        <td>
                            <div class="button-group">
                                <form asp-controller="Film" asp-action="Edit" method="get">
                                    <input type="hidden" name="filmId" value="@film.Id" />
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                                <form asp-controller="Film" asp-action="Delete" method="post">
                                    <input type="hidden" name="filmId" value="@film.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="~/js/scripts/film-table-script.js"></script>
</body>
</html>